<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <title>Dataweb - Learn About Web Hosting</title>
   <meta name="keywords" content="Cloud Storage, Web, Web Storage, Data Base">
   <meta name="description" content="Learn About Web Storage - Data Web">
   <meta name="author" content="Shreeansh Panda">
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/responsive.css">
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <link rel="shortcut icon" href="/static/images/icon.ico" type="image/x-icon">
</head>

<body class="main-layout">
   <header>
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="index.html"><img src="/static/images/logo.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item">
                              <a class="nav-link" href="/index.html">Home</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="#service"> Service</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>
   <section class="banner_main">
      <div class="container">
         <div class="row d_flex">
            <div class="col-md-5">
               <div class="text-bg">
                  <h1>Powerful<br> Web Hosting</h1>
                  <span>Landing Page 2021</span>
                  <p>Hello Everyone! This Is Shreeansh The Owner Of This Website I Have Created This Website To Help
                     People To Learn About Web Hosting.</p>
                  <a target="_blank"
                     href="/static//images/database.jpg">Picture
                     Of DataBase</a>
               </div>
            </div>
            <div class="col-md-7">
               <div class="text-img">
                  <figure><img src="/static/images/img.png" /></figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div id="" class="hosting">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>What Is Web Hosting ?</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="web_hosting">
                  <figure><img src="/static/images/web.jpg" alt="#" /></figure>
                  <p>Web Hosting is the business of housing,
                     serving, and maintaining files for one or more Web sites. More important than the computer space
                     that is provided for Web site files is the fast connection to the Internet.</p>
                  <a href="https://en.wikipedia.org/wiki/Web_hosting_service" target="_blank">Read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="service" class="Services">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Best Services</h2>
                  <p>These Are Some Service That Are Useful For Web Hosting.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service1.png" alt="#" /></i>
                  <h3> Shared Hosting</h3>
                  <p>A shared web hosting service is a web hosting service where many websites reside on one web server
                     connected to the Internet. This is generally the most economical option for hosting, as the overall
                     cost of server maintenance is spread over many customers.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service2.png" alt="#" /></i>
                  <h3>Dedicated Hosting</h3>
                  <p>A dedicated hosting service, dedicated server, or managed hosting service is a type of Internet
                     hosting in which the client leases an entire server not shared with anyone else.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service3.png" alt="#" /></i>
                  <h3>Domain</h3>
                  <p>A domain name is an identification string that defines a realm of administrative autonomy,
                     authority or control within the Internet. Domain names are used in various networking contexts and
                     for application-specific naming and addressing purposes.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service4.png" alt="#" /></i>
                  <h3>VPS Hosting</h3>
                  <p>Virtual Private Server hosting, aka VPS hosting, is a website hosting environment that allows for
                     resources such as RAM and CPU to be dedicated to your account. This is achieved by virtualizing a
                     Dedicated server and splitting the resources amongst the users on that server.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service5.png" alt="#" /></i>
                  <h3>Cloud Hosting</h3>
                  <p>Cloud computing is the on-demand availability of computer system resources, especially data storage
                     and computing power, without direct active management by the user. The term is generally used to
                     describe data centers available to many users over the Internet.</p>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="Services-box">
                  <i><img src="/static/images/service6.png" alt="#" /></i>
                  <h3>Reseller Hosting</h3>
                  <p>Reseller Hosting in simple terms can be said to be a hosting service where you, the reseller, rent
                     out your services to your customers, in turn, earning a profit. These web hosting services include
                     server bandwidth, CPU, disk space, RAM, etc.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="why" class="why">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Companies Providing Hosting & Domain</h2>
                  <p>These Are Some Comapnies Providing Web Hosting Services Through Out The World.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div id="box_ho" class="why-box">
                  <i><img src="/static/images/Hostinger_logo.png" alt="Check Your Internet Connection" /></i>
                  <h3>Hostinger</h3>
                  <p>Hostinger International, Ltd is an employee-owned Web hosting provider and Internet domain
                     registrar. Established in 2004, Hostinger now has over 29 million users, collectively with its
                     subsidiaries in 178 countries. Hostinger is the parent company of 000Webhost, Niagahoster and
                     Weblink.</p>
               </div>
               <a class="read_more bg" href="https://hostinger.com" target="_blank">Go To Hostinger</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="why-box">
                  <i><img src="/static/images/godaddy-logo.png" alt="Check Your Internet Connection" /></i>
                  <h3>GoDaddy</h3>
                  <p>GoDaddy Inc. is an American publicly traded Internet domain registrar and web hosting company
                     headquartered in Scottsdale, Arizona and incorporated in Delaware. As of June 2020, GoDaddy has
                     more than 20 million customers and over 7,000 employees worldwide.</p>
               </div>
               <a class="read_more bg" href="https://in.godaddy.com" target="_blank">Go To GoDaddy</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
               <div class="why-box">
                  <i><img src="/static/images/HostGator.png" alt="Check Your Internet Connection" /></i>
                  <h3>HostGator</h3>
                  <p>HostGator is a Houston-based provider of shared, reseller, virtual private server, and dedicated
                     web hosting with an additional presence in Austin, Texas. <br><br><br><br></p>
               </div>
               <a class="read_more bg" href="https://hostgator.in" target="_blank">Go To HostGator</a>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>© 2021 All Rights Reserved. Data Web</p>
               </div>
            </div>
         </div>
      </div>
      </div>

   </footer>
   <script src="/static/js/jquery.min.js"></script>
   <script src="/static/js/popper.min.js"></script>
   <script src="/static/js/bootstrap.bundle.min.js"></script>
   <script src="/static/js/jquery-3.0.0.min.js"></script>
   <script src="/static/js/plugin.js"></script>
   <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="/static/js/custom.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>

</html>